<section class="page-header">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0">
            <h1 class="title underline-none" data-aos="fade-up">{{ .Title }}</h1>
            <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
              <ol class="breadcrumb justify-content-center bg-transparent p-0 mb-0">
                <li class="breadcrumb-item"><a class="link-primary" href="{{ site.BaseURL | relLangURL }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="has-circle">
          <img class="wave-1 w-100" src="{{`images/waves/05.svg` | absURL}}" alt="*">
          <img class="wave-2 w-100" src="{{`images/waves/04.svg` | absURL}}" alt="*">
          <span class="circle-1 ratio-32" data-rellax-speed="-2"></span>
          <span class="circle-2 ratio-73 fill" data-rellax-speed="-2"></span>
          <span class="circle-3 ratio-20 fill" data-rellax-speed="1"></span>
          <span class="circle-4 ratio-47" data-rellax-speed="-1"></span>
          <span class="circle-5 ratio-62" data-rellax-speed="-0.5"></span>
          <span class="circle-6 ratio-20 fill"></span>
          <span class="circle-7 ratio-73" data-rellax-speed="-1"></span>
          <span class="circle-8 ratio-37" data-rellax-speed="-.5"></span>
          <span class="circle-9 ratio-20" data-rellax-speed="1"></span>
          <span class="circle-10 ratio-65 fill"></span>
          <span class="circle-11 ratio-20" data-rellax-speed="-2"></span>
          <span class="circle-12 ratio-20 fill" data-rellax-speed="1"></span>
          <span class="circle-13 ratio-20 fill"></span>

        </div>
      </div>
    </div>
  </div>
</section>