{{define "main"}}

{{with .Params.products}}
{{if .enable}}
<section class="section-sm mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title text-center mb-0" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          {{ if .logistica }}
            <h2 class="title-log">{{.title | markdownify}}</h2>
          {{ else }}
            <h2 class="title">{{.title | markdownify}}</h2>
          {{ end }}
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          {{range .products_items}}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="text-center mb-3">
              {{ if fileExists (add `assets/` .image) }}
              {{$img:= resources.Get .image }}
              {{$img:= $img.Resize "240x "}}
              {{$imgWebp:= $img.Resize "240x webp"}}
              <img loading="lazy" decoding="async" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="{{.name}}" title="{{.name}}" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
              {{end}}
              {{ if .name }}
              <div class="mt-1">
                {{ if .logistica }}
                <span class="product-name-log">{{.name}}</span>
                {{ else }}
                <span class="product-name">{{.name}}</span>
                {{ end }}
              </div>
              {{ end }}
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{end}}