{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<!-- strat of blog-details -->
<section class="section-sm pt-0">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-in">
      <div class="col-lg-10 mb-5">
        {{ with .Params.image }}
        {{ if fileExists (add `assets/` .) }}
        {{$img:= resources.Get . }}
        {{$img:= $img.Resize "1020x "}}
        {{$imgWebp:= $img.Resize "1020x webp"}}
        <img loading="lazy" decoding="async" class="w-100 rounded-lg" src="{{$imgWebp.RelPermalink}}" alt="blog-post" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
        {{end}}
        {{end}}
      </div>
      <div class="col-lg-8">

        <div class="mb-5">
          <h2>{{.Title | markdownify}}</h2>
          <div class="d-flex align-items-center card-author mt-4">
            {{ with .Params.author_info }}
            <div class="user-image mr-3">
              {{ if .image }}
              {{ $img:= resources.Get (.image) }}
              {{ $img:= $img.Fill "70x70" }}
              {{ $imgWebp:= $img.Fill "70x70 webp" }}
              <img loading="lazy" decoding="async" class="rounded-circle" src="{{ $imgWebp.RelPermalink }}" alt="author image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
              {{ end }}
            </div>
            {{ end }}
            <div class="user-info">
              {{ with .Params.author_info }}
              <p class="font-weight-500 mb-0 h5">{{ .name }}</p>
              {{ end }}
              <span>{{.PublishDate.Format "Jan 02, 2006"}}{{if site.Params.reading_time}} - {{.ReadingTime}} Min read{{end}}</span>
            </div>
          </div>
        </div>

        <div class="content">
          {{.Content}}
        </div>

      </div>


      {{ if .Site.DisqusShortname }}
      <div class="col-lg-8" data-aos="fade-in">
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end of blog-details -->

<!-- start of blog-section -->
<section class="section pt-5">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-in">
      <div class="col-12">
        <div class="section-title text-center">
          <h2 class="title">Recent Articles</h2>
        </div>
      </div>
      
      {{ $recent := (where site.RegularPages "Section" "in" site.Params.mainSections) | intersect (where site.RegularPages ".Title" "!=" .Title) }}
      {{ range first 2 $recent }}
      <div class="col-lg-5">
        {{ .Render "article" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end of blog-section -->

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section-sm">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">
          Traccion: {{ .Params.traccion }} <br>
          Motor tipo: {{ .Params.motortipo }} <br>
          Potencia: {{ .Params.potencia }} <br>
          Desplazamiento: {{ .Params.desplazamiento }} <br>
          Velocidad de rotacion: {{ .Params.velocidadrotacion }} <br>
          Marchas: {{ .Params.marchas }} <br>
          Velocidad: {{ .Params.velocidad }} <br>
          Freno: {{ .Params.freno }} <br>
          Fuerza: {{ .Params.fuerza }} <br>
          Suspension: {{ .Params.suspension }} <br>
          Levante: {{ .Params.levante }} <br>
          Largo: {{ .Params.largo }} <br>
          Ancho: {{ .Params.ancho }} <br>
          Altitud: {{ .Params.altitud }} <br>
          Peso: {{ .Params.peso }} <br>
        </div>
        
        <div>    
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /regular page -->

{{ end }}