.product-name{
    color: black;
    background-color: #FCC629;
    padding: 1px 10px;
    font-weight: 500;
    border-radius: 10px;
    white-space:nowrap;
}

.product-name-log{
    color: white;
    background-color: #E84C28;
    padding: 1px 10px;
    font-weight: 500;
    border-radius: 10px;
    white-space:nowrap;
}

.product-name-agro{
  color: white;
  background-color: #9ac01d;
  padding: 1px 10px;
  font-weight: 500;
  border-radius: 10px;
  white-space:nowrap;
}

.product-name-vial{
  color: white;
  background-color: #e9c31d;
  padding: 1px 10px;
  font-weight: 500;
  border-radius: 10px;
  white-space:nowrap;
}

.section-title {
    margin-bottom: 50px;
  
    .title-log {
      text-transform: capitalize;
      margin-bottom: 40px;
      position: relative;
      line-height: 1.3;
  
      &::after {
        position: absolute;
        content: "";
        height: 5px;
        width: 70px;
        border-radius: 30px;
        left: 0;
        bottom: -20px;
        background-color: #E84C28;
      }
  
      &.underline-none {
        margin-bottom: 20px;
  
        &::after {
          display: none;
        }
      }
  
      @include tablet {
        font-size: 32px;
      }
    }
    
    &.text-center .title-log::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }