// start header style
.header-height-fix {
  height: 117px;

  @include desktop {
    height: 106px;
  }

  @include tablet {
    height: 84px;
  }
  @include mobile-xs {
    height: 127px;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $black;
  padding: 30px 0;
  transition: .15s ease-out;

  @include tablet {
    padding: 20px 0;
  }
  @include mobile-xs {
    padding: 10px 0;
  }

  &.header-sticky-top {
    padding: 17px 0;
    box-shadow: 0px 4px 18px 0 rgba(32, 45, 73, 0.02);
    @include mobile-xs {
      padding: 5px 0 10px 0;
    }
  }

  &.header-unpinned {
    transform: translateY(calc(-100% - 5px));
  }

  .navbar-brand {
    @include tablet {
      img {
        height: 30px;
      }
    }
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
    font-size: 36px;
    color: lighten($white, 13.33);
    border: 0;
    transition: .3s ease;

    @include tablet {
      font-size: 32px;
    }

    &:hover {
      color: $primary-color;
    }
  }

  .nav-item {
    .nav-link {
      font-weight: 500;
      font-size: 16px;
      color: lighten($white, 13.33) !important;
      padding: 15px 17px !important;

      @include desktop-lg {
        padding: 15px 10px !important;
      }
    }

    .nav-link:hover,
    &.active .nav-link {
      color: $primary-color !important
    }
    &.dropdown .nav-link::after {
      display: inline-block;
      vertical-align: .255em;
      content: "";
      height: 9px;
      width: 9px;
      border: 2px solid;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0s;
    }
  }

  .dropdown-menu {
    height: auto !important;
    border: 0;
    padding: 0 10px;
    border-radius: 6px;
    background-color: lighten($primary-color, 43);
    border: 1px solid lighten($primary-color, 38);

    li {
      &:first-child {
        margin-top: 12px
      }

      &:last-child {
        margin-bottom: 12px
      }
    }

    .dropdown-item {
      padding: 8px 15px;
      font-size: 14px;
      font-weight: 500;
      color: lighten($black, 13.33);
      border-radius: 6px;

      &:focus,
      &:hover,
      &:active {
        color: $primary-color;
        background-color: lighten($primary-color, 40);
      }
      
      &.active {
        color: $primary-color;
        background-color: transparent;
        &:focus,
        &:hover,
        &:active {
          background-color: lighten($primary-color, 40);
        }
      }
    }
  }

  @media (min-width:991px) {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      width: 220px;
      left: 50%;
      transform: translate(-50%, -6px);
      z-index: 1;
      border: 0;
      background-color: transparent;
      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: -1;
        border-radius: 6px;
        transition: 0.15s;
        border: 1px solid lighten($primary-color, 38);
        box-shadow: 0 15px 25px rgba($black, 0.1);
      }
      li {
        transform: translateY(20px);
        opacity: 0;
        transition: .1s;
      }
    }

    .dropdown:hover .dropdown-menu {
      visibility: visible;
      height: 0;
      &::after {
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        height: 100%;
      }
      li {
        opacity: 1;
        transform: translateY(0);
        transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      $base-time: 0.05;
      $max-menu-item: 10;
      @for $i from 1 through $max-menu-item {
        li:nth-child(#{$i}) {
          transition-delay: $i*$base-time+s;
        }
      }
    }
  }

  @include desktop {
    .navbar-nav {
      max-width: 300px;
      max-height: 400px;
      overflow-y: auto;
      text-align: center;
      padding-top: 30px;
    }

    .navbar-right {
      text-align: center;
      margin-top: 5px;
      padding-bottom: 10px;

      select {
        margin-bottom: 15px;
      }
    }

    .dropdown-menu {
      padding: 1px 15px;
      text-align: center;
    }

    .nav-item .nav-link {
      padding: 5px 20px !important;
    }
  }
}